<head>
  <%- include('include/head', { title: 'About' }) %>
<link href="/styles/about.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <%- include('include/header') %>
  <%- include('include/responsive') %>
  <main>
    <section id="natureimage">
      <div id="image-content">
        <h2>Portfolio Website by</h2>
        <h2>Csilla Bukki</h2>
        <p class="port">I am a web developer. I like creating  Front-end and Full stack applications with NodeJS and Flask in the Back-End. I am also a Python and JavaScript teacher at Outschool, Inc. I like mathematics and puzzles too. </p>
        <p id="email">You can contact me at: 
          <a href="mailto:csilla.bukki@gmail.com">My Email</a> </p>
      </div>
    </section>
  </main>
  <%- include('include/footer') %>
</body>

</html>