<head>
  <%- include('partials/head', { title: 'Not found!' }) %>
</head>

<body>
  <%- include('partials/header') %>
  <main>
    <h1>This resource is not found!</h1>
    <p>We could not find it.</p>
    <a class="btn" href="/">Back to hobbies!</a>
  </main>
</body>

</html>