<head>
  <%- include('include/head', { title: 'Resume' }) %>
</head>

<body>
  <%- include('include/header') %>
  <%- include('include/responsive') %>
  <main>
    
        <h1>Online Resume</h1>
        <p class="port"> Under construction, coming soon. </p>
        
  </main>
  <%- include('include/footer') %>
</body>

</html>