<!DOCTYPE html>
<html>
<title>Resume</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/resumeorig.css">
<link rel="stylesheet" href="/styles/resume.css">
<!--<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  #fullname{
    margin-left: 1rem;
  }
</style>-->
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <!--<img src="/images/profilepicture.jpeg" style="width:100%" alt="Profile Picture">-->
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
          <h2 id="fullname">Csilla Bukki</h2>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>San Jose, CA</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>csilla.bukki@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>669-241-9183</p>
          <p><i class="fa fa-linkedin fa-fw w3-margin-right w3-large w3-text-teal"></i>https://www.linkedin.com/in/csillabukki/</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>JavaScript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">
              <div class="w3-center w3-text-white">90%</div>
            </div>
          </div>
          <p>HTML</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>React</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <p>MongoDB</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>
        <p>NodeJS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>
          <p>Flask</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>
          <p>R</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          <hr>
<p class="w3-large"><b><i class="fa fa-pi fa-fw w3-margin-right w3-text-teal"></i>Mathematics</b></p>
          <p>Computational Mathematics</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>
          <p>Calculus</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:55%">
              <div class="w3-center w3-text-white">55%</div>
            </div>
          </div>
          <p>Linear Algebra</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          
          <hr>
          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:95%"></div>
          </div>
          <p>Hungarian</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>German</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:75%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Summary</h2>
        <div class="w3-container">
          8+ years of Programming experience with a Master's degree in Computer Science. Previously having coded Android apps, and Javascript and Python based web applications. Recently studied Elementary Statistics and currently studying Medical Statistics. Seeking a position in Front End Development as HTML, CSS and Javascript programmer. Transferable skill sets include strong mathematical background, problem solving skills, and using data visualization.</p>
        </div>
      </div>

          
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-laptop fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Front End and Back End Developer</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2014 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Creating  Front-end and Full stack applications with NodeJS and Flask in the Back-End. </p>
          <p> Using MongoDB and MySQL databases</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Outschool Teacher</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2021 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Teaching Programming online at Outschool, Inc.</p>
          <p> Be able to teach with online technologies in the browser. </p>
          <p> Python classes with the Turtle Graphics</p>
          <p>HTML, CSS and JavaScript classes with Canvas and P5 Graphics</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Android Developer, Deep Look, Inc. </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2014 - Mar 2019</h6>
          <p>Co-Founder of Deep Look, Inc. Using machine learning techniques for face analysis </p>
          <p>Eye color changer App published on Google Play in 2014</p>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Udemy</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2022 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Web development with Maximilian Schwarzmuller and Manuel Lorenz </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Statistics</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2020 - 2021</h6>
          <p>Medical Statistics I, II, III, Stanford University with Kristin Sainani</p>
          <p>Elementary Statistics, West Valley College with Medha Bodas</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Computer Science</b></h5>
          <!--<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>-->
          <p>Friedrich-Wilchelm University, Bonn, Germany, Master's Degree in Computer Science, GPA: 3.6</p>
        </div>
        <hr>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Medicine</b></h5>
          <!--<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>-->
          <p>Friedrich-Wilchelm University, Bonn, Germany, Doctor of Medicine, GPA: 3.0</p>
          <p>Semmelweis University of Medicine, Budapest, Hungary, GPA: 3.75</p>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<!--<footer class="w3-container w3-teal w3-center w3-margin-top">
  <a href="https://github.com/bukkicsilla"><i class="fa fa-github w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/csillabukki/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <a href="https://portfolio22.csillabukki.repl.co/"><i class="fa fa-home w3-hover-opacity"></i></a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>-->

</body>
</html>
