<aside id="side-drawer">
      <header>
        <a  href="#" class="hamburger">
          <span> </span>
          <span> </span>
          <span> </span>
        </a>
      </header>
      <nav>
        <ul>
          <li>
        <a href="/new-projects"> New Projects</a> </li>
      <li>
        <a href="/outschool-projects">Outschool Projects
      </li>
      <li>
        <!--<a href="https://portfolio18.herokuapp.com/" target="_blank">Old Projects</a>-->
        <a href="https://portfolio.csillabukki.repl.co/" target="_blank">Old Projects</a>
      </li>
          <li>
        <a href="/resume">Resume </a>
      </li>
        </ul>
      </nav>
</aside>